.my-photo {
    width: 370px;
    display: flex;
    margin: 0 auto;
}
.descr {
    margin-bottom: 65px;
    display: flex];
    margin: 0 auto;
}
.name{
    margin-bottom: 65px;
    display: flex;
    margin: 0 auto;
}